{% extends 'base.html' %}
{% block content %}
<table>
    <tr>
        <th>Id</th>
        {% for contact in object_list %}
        <td>{{ contact.id }}</td>
        {% endfor %}
    </tr>
     <tr>
        <th>Name</th>
        {% for contact in object_list %}
        <td>{{ contact.name }}</td>
        {% endfor %}
    </tr>
     <tr>
        <th>Reply_to</th>
        {% for contact in object_list %}
        <td>{{ contact.reply_to }}</td>
        {% endfor %}
    </tr>
    <tr>
        <th>Subject/th>
        {% for contact in object_list %}
        <td>{{ contact.subject}}</td>
        {% endfor %}
    </tr>
    <tr>
        <th>Body</th>
        {% for contact in object_list %}
        <td>{{ contact.body }}</td>
        {% endfor %}
    </tr>
    <tr>
        <th>Raw_content</th>
        {% for contact in object_list %}
        <td>{{ contact.raw_content }}</td>
        {% endfor %}
    </tr>
</table>

{% endblock content %}
