{% extends 'base.html' %}
{% block content %}
<a href="{% url 'currency:source_create' %}">Create Source</a>
    {% for source in object_list %}
    <p>
        {{ source.id }}
        Name = {{ source.name }}
        Url = {{ source.url }}
        Founded = {{ source.founded }}
        Address = {{ source.address }}
        Contacts = {{ source.contacts }}
        <a href="{% url 'currency:source_update' source.id %}">Edit</a>
        <a href="{% url 'currency:source_detail' source.id %}">Details</a>
        <a href="{% url 'currency:source_delete' source.id %}">Delete</a>
    </p>
    <hr>
    {% endfor %}

{% endblock content %}

